
html, body {
  width: 100%
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

svg {
  max-width: 1400px!important;
  height: auto;
  display: block;
  margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
  }

.column {
    float: right;
  }
  
.left {
    width: auto;
    margin-left: -15px;
    position: absolute;
  }
  
.right {
    width: 75%;
    margin-left: 90px;
    margin-top: 30px;
  }

.enabled {
    cursor: pointer;
}

.activated {
    font-size: 10px;
}

.description {
 pointer-events: none;
 position: absolute;
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
 font-weight: 600;
 letter-spacing: 1px;
 text-align: center;
 background: #4d4d4d;
 padding: 7px 12px;
 white-space: nowrap;
 z-index: 5;
 height: 30px;
 line-height: 30px;
 margin: 0 auto;
 color: white;
 border-radius: 5px;
 -moz-transform: translateX(-50%);
 -ms-transform: translateX(-50%);
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
 display: none;
}
.description.active {
 display: block;
}
.description:after {
 content: "";
 position: absolute;
 left: 50%;
 top: 100%;
 width: 0;
 height: 0;
 margin-left: -10px;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-top: 10px solid #4d4d4d;
}

.state {
    fill:#b3b3b3;
}

.borders {
    stroke:#FFFFFF; 
    stroke-width:2;
}

.dccircle {
    display:yes;
}

#ALABAMA, #ALASKA, #ARIZONA, #ARKANSAS, #CALIFORNIA, #COLORADO, #CONNECTICUT, #DELAWARE, #FLORIDA, #GEORGIA, #HAWAII, #IDAHO, 
#ILLINOIS, #INDIANA, #IOWA, #KANSAS, #KENTUCKY, #LOUISIANA, #MAINE, #MARYLAND, #MASSACHUSETTS, #MICHIGAN, #MINNESOTA, 
#MISSISSIPPI, #MISSOURI, #MONTANA, #NEBRASKA, #NEVADA, #NEWHAMPSHIRE, #NEWJERSEY, #NEWMEXICO, #NEWYORK, #NORTHCAROLINA,  
#NORTHDAKOTA, #OHIO, #OKLAHOMA, #OREGON, #PENNSYLVANIA, #RHODEISLAND, #SOUTHCAROLINA, #SOUTHDAKOTA, #TENNESSEE, #TEXAS,  
#UTAH, #VERMONT, #VIRGINIA, #WASHINGTON, #WESTVIRGINIA, #WISCONSIN, #WYOMING {
    fill: #b3b3b3;
  }

#ALABAMA:hover, #ALASKA:hover, #ARIZONA:hover, #ARKANSAS:hover, #CALIFORNIA:hover, #COLORADO:hover, #CONNECTICUT:hover, #DELAWARE:hover, #FLORIDA:hover, #GEORGIA:hover, #HAWAII:hover, #IDAHO:hover, 
#ILLINOIS:hover, #INDIANA:hover, #IOWA:hover, #KANSAS:hover, #KENTUCKY:hover, #LOUISIANA:hover, #MAINE:hover, #MARYLAND:hover, #MASSACHUSETTS:hover, #MICHIGAN:hover, #MINNESOTA:hover, 
#MISSISSIPPI:hover, #MISSOURI:hover, #MONTANA:hover, #NEBRASKA:hover, #NEVADA:hover, #NEWHAMPSHIRE:hover, #NEWJERSEY:hover, #NEWMEXICO:hover, #NEWYORK:hover, #NORTHCAROLINA:hover, 
#NORTHDAKOTA:hover, #OHIO:hover, #OKLAHOMA:hover, #OREGON:hover, #PENNSYLVANIA:hover, #RHODEISLAND:hover, #SOUTHCAROLINA:hover, #SOUTHDAKOTA:hover, #TENNESSEE:hover, #TEXAS:hover, 
#UTAH:hover, #VERMONT:hover, #VIRGINIA:hover, #WASHINGTON:hover, #WESTVIRGINIA:hover, #WISCONSIN:hover, #WYOMING:hover {
    fill: #4d79ff;
}

#circles {
    display: flex;
  }

.mobileShow {
  display: none;
}

.larger-circle {
    background: #8f140b;
    opacity: .85;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 260px;
    color: #fff;
    margin-left: 15px;
  }

.smaller-circle {
    background: #d84541;
    opacity: .85;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 205px;
    width: 205px;
    color: #fff;
    margin-left: 40px;
    margin-top: -35px;
  }

  .medium-circle {
    background: #d84541;
    opacity: .85;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 220px;
    color: #fff;
    font-size: 20px;
    margin-left: 75px;
    margin-top: -45px;
  }

.larger-circle-heading {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
 }

.smaller-circle-heading {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
 }

.larger-circle-body {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
 }

.smaller-circle-body {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-weight: 500;
 }

 .medium-circle-body {
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  font-weight: 500;
}

.medium-circle-heading {
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#nh {
  font-size: 40px;
}

#ca {
  font-size: 41px;
}

#wa {
  font-size: 37px;
}

#ok {
  font-size: 43px;
}

#pa {
  font-size: 33px;
}

#ct {
  font-size: 36px;
}

#al {
  font-size: 49px;
}

#la {
  font-size: 45px;
}

#nc {
  font-size: 45px;
}

#sc {
  font-size: 45px;
}

#mo {
  font-size: 48px;
}

#ar {
  font-size: 46px;
}

#md {
  font-size: 44px;
}

#ky {
  font-size: 48px;
}

#ma {
  font-size: 30px;
}

#mt {
  font-size: 48px;
}

#ms {
    font-size: 43px;
}

#tn {
    font-size: 43px;
}

#de {
    font-size: 44px;
}

#co {
    font-size: 44px;
}

#ne {
    font-size: 44px;
}

#wi {
    font-size: 43px;
}

#mn {
    font-size: 42px;
}


